**/.DS_Store
/target/
/dealing-dlog/target/
/dealing/target/
/dealing/benchmarks/target/
/dealing/benchmarks/wasm/target/
/dealing/fuzz/target/
/dealing/vendor/bulletproofs/target/
/chain/target/
/chain/fuzz/target/
/chain/fuzz/artifacts/
/chain/fuzz/corpus/
/chain/fuzz/coverage/
/client/target/
/client/target-game-wasm-docker/
/client/.bp52/
/client-cli/target/
/client-cli/.bp52/
**/*.profraw
/dealing/fuzz/artifacts/
/dealing/fuzz/corpus/
/dealing/fuzz/coverage/
