poker.bitvm.org, 3-122-53-147.sslip.io {
    encode zstd gzip {
        match {
            header Content-Type application/wasm*
            header Content-Type text/*
            header Content-Type application/javascript*
            header Content-Type application/json*
            header Content-Type image/svg+xml*
        }
    }
    reverse_proxy 127.0.0.1:3102
}
http://18.192.254.198 {
    redir https://poker.bitvm.org{uri} permanent
}
http://ec2-3-122-53-147.eu-central-1.compute.amazonaws.com, http://3.122.53.147 {
    redir https://3-122-53-147.sslip.io{uri} permanent
}
